nav{
    background:#324161 !important;
    padding: 25;
    top: 0%;
    color: white;
    font-family: 'Cochin',sans-serif;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.navbar-brand{
    color: white;
}
.navbar-brand:hover{
    color: white;
}
.card{
    margin: 18px;
   
}
.card:hover{
   margin: 8px;
   background-image:url('/assets/backg.jpg');
   
    
     
  
}
.container-fluid{
    width: 100%;
    padding: 0;
    background-image: black;
}
.container-fluid img{
    width: inherit;
}
.text{
    position: absolute;
    top: 16rem;
    left: 25rem;
    background-color:rgba(0, 0, 0, 0.5);
}
h1{
    font-size: 10rem;
    font-family: 'Poppins',sans-serif;
    color: white;
    font-weight: bold;

}
p{
    color: #fab91a;
    font-family: 'Poppins',sans-serif;
    text-align: center;
    font-size: 2.5rem;

}